In [1]:
# Q5) A school has following rules for grading system:
# a. Below 25 - F 
# b. 25 to 45 - E 
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade.

In [6]:
num=int(input('enter your numbers: '))
if num<25:
    print('f grade')
elif num>=25 and num<45:
    print('E grade')
elif num>=45 and num<50:
    print('D grade')    
elif num>=50 and num<60:
    print('C grade')   
elif num>=60 and num<80:
    print('B grade')
else:
    print('A grade')

enter your numbers: -5
f grade

# Tuples

A tuple is a collection which is ordered and unchangeable.

tuples are written with round bracketes.
( )

In [7]:
# creating our 1st tuple

tup=('apple','banana', 'cherry')

In [8]:
print(tup)

('apple', 'banana', 'cherry')

In [9]:
type(tup)

tuple

In [10]:
tup[0]

'apple'

In [11]:
tup[-1]

'cherry'

### it allows duplicates

In [12]:
tup2=('apple','banana', 'cherry','apple','banana',)

In [13]:
print(tup2)

('apple', 'banana', 'cherry', 'apple', 'banana')

In [14]:
len(tup)

3

In [15]:
len(tup2)

5

In [16]:
# create tuple with one item

tup3=('apple')

In [17]:
type(tup3)

str

In [18]:
tup4=('apple',)

In [19]:
type(tup4)

tuple

In [20]:
# tuples - data type

tup_a=(1,2,3,4,5)
tup_b=('a','b','c','d')
tup_c=(True,False,False,True)
type(tup_a)

tuple

In [21]:
type(tup_c)

tuple

In [22]:
# tuple constructor

tup_con=tuple(('apple','banana', 'cherry'))

In [23]:
print(tup_con)

('apple', 'banana', 'cherry')

In [24]:
type(tup_con)

tuple

In [25]:
# access tuple items

tup_con[2]

'cherry'

In [26]:
tup_con[-2]

'banana'

In [27]:
tup_fru=('apple','banana', 'cherry','apple','banana')

In [29]:
# range of tuple

tup_fru[2:5]

('cherry', 'apple', 'banana')

In [30]:
tup_fru[:3]

('apple', 'banana', 'cherry')

In [31]:
tup_fru[3:]

('apple', 'banana')

In [32]:
# check if item exists

if 'cherry' in tup_fru:
    print('yes cherry is in the tuple')

yes cherry is in the tuple

In [33]:
# change tuple values

x=('aa','df','dfg','etvg')

In [34]:
x[2]='cow'

TypeError: 'tuple' object does not support item assignment

In [35]:
y=list(x)

In [36]:
print(y)

['aa', 'df', 'dfg', 'etvg']

In [37]:
y[2]='cow'

In [38]:
print(y)

['aa', 'df', 'cow', 'etvg']

In [39]:
x=tuple(y)

In [40]:
print(x)

('aa', 'df', 'cow', 'etvg')

In [41]:
 # add items
    
thistuple=('apple', 'banana','cherry')
newlist=list(thistuple)

In [43]:
newlist.append('orange')

In [45]:
thistuple=tuple(newlist)

In [46]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [47]:
thisnewtup=(1,2,3)

In [48]:
thistuple=thistuple+thisnewtup

In [49]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 1, 2, 3)

In [50]:
# remove items
thistuple=('apple', 'banana','cherry')
newlist=list(thistuple)
newlist.remove('banana')
thistuple=tuple(newlist)

In [51]:
print(thistuple)

('apple', 'cherry')

In [52]:
thistuple=('apple', 'banana','cherry')

In [53]:
del thistuple

In [55]:
print(thistuple)

NameError: name 'thistuple' is not defined

In [56]:
# unpacking a Tuple

fruit=('apple','banana', 'cherry','apple','banana')

In [58]:
(green,yellow,red,blue,black)=fruit

In [59]:
print(green)

apple

In [60]:
print(yellow)

banana

In [61]:
type(green)

str

In [62]:
print(fruit)

('apple', 'banana', 'cherry', 'apple', 'banana')

In [73]:
fruit2=('apple','banana', 'cherry','apple','banana')

In [65]:
(green,yellow,black)=fruit2

ValueError: too many values to unpack (expected 3)

In [66]:
# using * (Asterisk)
(green,yellow,*black)=fruit2

In [67]:
print(black)

['cherry', 'apple', 'banana']

In [68]:
(green,*yellow,black)=fruit2

In [69]:
print(yellow)

['banana', 'cherry', 'apple']

In [70]:
type(yellow)

list

In [71]:
# loop through a Tuple

for i in fruit2:
    print(i)

apple
banana
cherry
apple
banana

In [74]:
x=0
while x <len(fruit2):
    print(fruit2[x])
    x=x+1

apple
banana
cherry
apple
banana

In [75]:
# join two tuples

string=('a','b','c')
number=(1,2,3)
 
tup=string+number

In [76]:
print(tup)

('a', 'b', 'c', 1, 2, 3)

In [77]:
print(tup*3)

('a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3)

In [78]:
min(tup)

TypeError: '<' not supported between instances of 'int' and 'str'

In [79]:
min(number)

1

In [80]:
max(number)

3

In [81]:
fruit2=('apple','banana', 'cherry','apple','banana')

In [82]:
fruit2.count('apple')

2

# Set

Set items are unordered, unchangeable and do not allow duplicate
values.

unordered:- it means that the items in a set do not have a defined order.
set items can appear in a different order every time we use them and cannot be referred by index.

to create set use { }

In [83]:
# creating set

theset={'bike','car','cycle','auto'}

In [84]:
type(theset)

set

In [85]:
print(theset)

{'bike', 'auto', 'car', 'cycle'}

In [86]:
# check length

len(theset)

4

In [87]:
set1={1,2,3,4,5}
set2={'a','b','c','d'}
set3={True,False,False,True}

In [88]:
# use of contructor

# set ()

thisset=set(('apple','banana','cherry'))

In [89]:
# Access items
for x in thisset:
    print(x)

apple
cherry
banana

In [90]:
print('kiwi'in thisset)

False

In [91]:
# add sets

thisset={'apple','banana','cherry'}
thisset.add('orange')

In [96]:
print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [97]:
# add sets
thisset={'apple','banana','cherry'}
sett={'kiwi','mange','papaya'}

In [98]:
thisset.update(sett)

In [99]:
print(thisset)

{'apple', 'papaya', 'cherry', 'mange', 'kiwi', 'banana'}

In [100]:
sett={'kiwi','mange','papaya'}
num={22,56}

In [101]:
num.update(sett)

In [102]:
print(num)

{'papaya', 22, 56, 'mange', 'kiwi'}

In [103]:
# remove items

num.remove[1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [108]:
num.remove('mange')

In [109]:
print(num)

{'papaya', 22, 56, 'kiwi'}

In [110]:
num.remove(22)

In [111]:
print(num)

{'papaya', 56, 'kiwi'}

In [112]:
# using discard

num.discard('mango')

In [113]:
print(num)

{'papaya', 56, 'kiwi'}

In [114]:
num.discard('kiwi')

In [115]:
print(num)

{'papaya', 56}

In [116]:
thisset={'apple','banana','cherry'}

In [117]:
# use of pop

thisset

{'apple', 'banana', 'cherry'}

In [118]:
thisset.pop()

'apple'

In [119]:
# clear and Del

thisset.clear()

In [120]:
print(thisset)

set()

In [121]:
del thisset

In [122]:
print(thisset)

NameError: name 'thisset' is not defined

In [136]:
# join two set

set1={'a','b','a','c','b'}

In [124]:
print(set1)

{'b', 'a', 'c'}

In [129]:
set2={'a','x','z','y'}

In [126]:
# union
set3=set1.union(set2)

In [127]:
print(set3)

{'x', 'a', 'b', 'z', 'y', 'c'}

In [130]:
# finding common element

set4=set1.intersection(set2)

In [132]:
print(set4)

{'a'}

In [133]:
set1.intersection_update(set2) # keep only duplicates

In [134]:
set1

{'a'}

In [135]:
set2

{'a', 'x', 'y', 'z'}

In [137]:
# keep all , but not the duplicate
set1={'a','b','a','c','b'}
set2={'a','x','z','y'}
set1.symmetric_difference_update(set2)

In [138]:
print(set1)

{'x', 'b', 'z', 'y', 'c'}

# Dictionaries

Dictionarie is a collection which is ordered , changable and do not allow duplicates.

dictionarie are written with curly brackets and have keys and values.

In [139]:
# creating our 1st Dict

thedic= {
    'brand':'ford',
    'model':'Mustang',
    'year':1964
}

In [140]:
print(thedic)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [141]:
type(thedic)

dict

In [142]:
# duplicates not allowed
thedic= {
    'brand':'ford',
    'model':'Mustang',
    'year':1964,
    'year':2020
}

In [143]:
print(thedic)

{'brand': 'ford', 'model': 'Mustang', 'year': 2020}

In [144]:
# length
len(thedic)

3

In [145]:
thedic[1]

KeyError: 1

In [146]:
thedic(1)

TypeError: 'dict' object is not callable

In [149]:
# data types
thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [150]:
print(thedic2)

{'brand': 'ford', 'electric': False, 'year': 1964, 'color': ['red', 'white', 'blue']}

In [153]:
# constructor
# dict()
thedic3=dict(name='yash',age=27,country='India')

In [154]:
print(thedic3)

{'name': 'yash', 'age': 27, 'country': 'India'}

In [163]:
# accessing item

x=thedic3['name']

In [166]:
print(x)

27

In [165]:
x=thedic3.get('age')
print(x)

27

In [167]:
# get keys
thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [168]:
y=thedic2.keys()

In [169]:
print(y)

dict_keys(['brand', 'electric', 'year', 'color'])

In [170]:
# get values

thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [171]:
c=thedic2.values()

In [172]:
print(c)

dict_values(['ford', False, 1964, ['red', 'white', 'blue']])

In [173]:
# change the value
thedic2['year']=2020

In [174]:
print(c)

dict_values(['ford', False, 2020, ['red', 'white', 'blue']])

In [175]:
# get items item()
 
thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [176]:
val=thedic2.items()

In [177]:
print(val)

dict_items([('brand', 'ford'), ('electric', False), ('year', 1964), ('color', ['red', 'white', 'blue'])])

In [178]:
# if key exists or not

thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [179]:
if 'year' in thedic2:
    print("yes it's available")

yes it's available

In [180]:
# update dict
thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [181]:
thedic2.update({'brand':'Maruti'})

In [182]:
print(thedic2)

{'brand': 'Maruti', 'electric': False, 'year': 1964, 'color': ['red', 'white', 'blue']}

In [183]:
# adding item
thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [184]:
thedic2['tyres']=4

In [185]:
print(thedic2)

{'brand': 'ford', 'electric': False, 'year': 1964, 'color': ['red', 'white', 'blue'], 'tyres': 4}

In [186]:
# remove item

thedic2.pop('tyres')

4

In [187]:
print(thedic2)

{'brand': 'ford', 'electric': False, 'year': 1964, 'color': ['red', 'white', 'blue']}

In [188]:
# popitem() to remove a item

In [189]:
# del
# clear

### use of loop

In [190]:
thedic2={
    'brand':'ford',
    'electric':False,
    'year':1964,
    'color':['red','white','blue']
}

In [191]:
for x in thedic2: # to see keys
    print(x)

brand
electric
year
color

In [193]:
for x in thedic2.keys(): # to see keys
    print(x)

brand
electric
year
color

In [192]:
for y in thedic2: # to print values
    print(thedic2[y])

ford
False
1964
['red', 'white', 'blue']

In [195]:
for x in thedic2.values(): # to see values
    print(x)

ford
False
1964
['red', 'white', 'blue']

In [196]:
for x,y in thedic2.items():
    print(x,y)

brand ford
electric False
year 1964
color ['red', 'white', 'blue']

In [204]:
# nested dic

myfamily={
    'child1':{
        'name':'abc',
        'year':2002
    },
    'child2':{
        'name':'xyz',
        'year':2000
    },
    'child3':{
        'name':'pqr',
        'year':1995
    }
}

In [205]:
print(myfamily)

{'child1': {'name': 'abc', 'year': 2002}, 'child2': {'name': 'xyz', 'year': 2000}, 'child3': {'name': 'pqr', 'year': 1995}}

In [206]:
child1={
    'name':'abc',
    'year':2002
}
child2={
    'name':'xyz',
    'year':2000
}
child3={
    'name':'pqr',
    'year':1995
}
myfamily={
    'child1':child1,
    'child2':child2,
    'child3':child3
}

In [207]:
print(myfamily)

{'child1': {'name': 'abc', 'year': 2002}, 'child2': {'name': 'xyz', 'year': 2000}, 'child3': {'name': 'pqr', 'year': 1995}}

In [ ]:
# practice questions

# Exercise 1: Print First 10 natural numbers using while loop
# Exercise 2: Print the following pattern
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
# Exercise 3: Calculate the sum of all numbers from 1 to a given number
# Exercise 4: Write a program to print multiplication table of a given number
# Exercise 5: Display numbers from a list using loop
numbers = [12, 75, 150, 180, 145, 525, 50]
# Exercise 6: Count the total number of digits in a number
num = 75869
# Exercise 7: Print the following pattern
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
# Exercise 8: Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]
# Exercise 9: Display numbers from -10 to -1 using for loop
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
# Exercise 10: Use else block to display a message “Done” after successful execution of for loop
# Exercise 11: Write a program to display all prime numbers within a range
# Exercise 12: Display Fibonacci series up to 10 terms
# Exercise 13: Find the factorial of a given number
# Exercise 14: Reverse a given integer number
76542
# Exercise 15: Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Exercise 16: Calculate the cube of all numbers from 1 to a given number
input_number = 6
# Exercise 17: Find the sum of the series upto n terms
n = 5
# Exercise 18: Print the following pattern
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*