# OOPs

Object oriented programming

Class :
     classes is a template/blue-print for real world entities.
        
class has :- 1) properties
    
            2) Behaviour

Class = phone

 properties (attribute) :- color,cost,battery life
 
 behavior (Method) :- make calls, watch videos, play games

Objects : objects are specific instances of a class.
    ex:- we have mobile (class)
        Mobile of apple. (object)
        
specific instances of mobile data type
ex:- apple, ld,one+

# creating our first class

syntax:-
    
class class_name:

    def function_name():
    
        body

In [1]:
class phone:
    def make_call(self):
        print('making phone call')
        
    def play_games(self):
        print('we are playing games')

In [2]:
# creating object

p = phone()

In [3]:
# invoking
p.play_games()

we are playing games

In [4]:
p.make_call()

making phone call

In [5]:
phone().make_call()

making phone call

In [6]:
# p = variable
# phone1 = name of class
# () = assign value for arguments
p = phone1()

NameError: name 'phone1' is not defined

In [7]:
# Adding parameters to class

class phone2:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
        #print('making phone call')
    def show_cost(self):
        return self.cost
        #print('we are playing games')
        
    def make_call(self):
        print('making phone call')
        
    def play_games(self):
        print('we are playing games')

In [8]:
# object creating

Ph=phone2()

In [10]:
Ph.set_color('Red')
Ph.set_cost(12000)

In [11]:
Ph.show_color()

'Red'

In [12]:
Ph.show_cost()

12000

In [13]:
Ph.make_call()

making phone call

In [14]:
Ph.play_games()

we are playing games

# creating a class with comstructor

it is a special type of function with which we can invoke or assign values to the attributes

so , as soon as we create our object, all of the attribute inside ourclass would initialise if we have our constructor in our class.

# __init__ (syntax)

def __init__(self,a,b,c,d)

In [19]:
# Example

class employee:
    def __init__ (self,name,age,salary,gender):
        self.name= name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def employee_details(self):
        print('Name of Employee is : ', self.name)
        print('Salary of Employee is : ', self.salary)
        print('Age of Employee is : ', self.age)
        print('Gender of Employee is : ', self.gender)
        
        print(self.name , 'of age ', self.age, 'having', self.salary, 'salary')

In [20]:
# object create
E = employee('Sonu',27,1200,'Male')#

In [21]:
# invoke

E.employee_details()

Name of Employee is :  Sonu
Salary of Employee is :  1200
Age of Employee is :  27
Gender of Employee is :  Male
Sonu of age  27 having 1200 salary

In [22]:
E = employee('Monu',21,1000,'Male')

In [23]:
E.employee_details()

Name of Employee is :  Monu
Salary of Employee is :  1000
Age of Employee is :  21
Gender of Employee is :  Male
Monu of age  21 having 1000 salary

# inheritance

types:-
    
    single
    
    multiple
    
    multilevel
    
    hierarchical
    
    hybrid

with inheritance 1 class can derive the properties of other class.

In [24]:
class vehicle: # parent class
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print('I am a vehicle')
        print('Mileage is ', self.mileage)
        print('cost is ', self.cost)

In [25]:
class car(vehicle): # child class
    def show_car(self):
        print('I am a car')

In [27]:
# create object

C= car(15,2500)

In [28]:
C.show_car() # invoke child class

I am a car

In [29]:
C.show_details() # invoke parent class

I am a vehicle
Mileage is  15
cost is  2500

In [30]:
# over riding init method

class vehicle1: # parent class
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print('I am a vehicle')
        print('Mileage is ', self.mileage)
        print('cost is ', self.cost)

In [31]:
class car(vehicle1):
    def __init__(self,mileage,cost,tyres,HP):
        super().__init__(mileage,cost)
        self.tyres= tyres
        self.HP=HP
        
    def show_cardetails(self):
        print('I am a car')
        print('No. of tyres is ', self.tyres)
        print('HP is ', self.HP)

In [33]:
# object

c1=car(20,12000,4,300)

In [34]:
c1.show_details()

I am a vehicle
Mileage is  20
cost is  12000

In [35]:
c1.show_cardetails()

I am a car
No. of tyres is  4
HP is  300

In [36]:
class vehicle2: # parent class
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print('I am a vehicle')
        print('Mileage is ', self.mileage)
        print('cost is ', self.cost)
        print('HP is ', self.HP)
        
class car1(vehicle2):
    def __init__(self,mileage,cost,tyres,HP):
        super().__init__(mileage,cost)
        self.tyres= tyres
        self.HP=HP
        
    def show_cardetails(self):
        print('I am a car')
        print('No. of tyres is ', self.tyres)
        print('HP is ', self.HP)

In [37]:
car=car1(2,150,4,7)

In [38]:
car.show_details()

I am a vehicle
Mileage is  2
cost is  150
HP is  7

# Multiple inheritance

In [39]:
class parent1:
    def str1(self,str1):
        self.str1=str1
    def show_str1(self):
        return self.str1

In [40]:
class parent2:
    def str2(self,str2):
        self.str2=str2
    def show_str2(self):
        return self.str2

In [41]:
class child(parent1,parent2):
    def str3(self,str3):
        self.str3=str3
        
    def show_str3(self):
        return self.str3

In [42]:
# create object

ch= child()

In [43]:
ch.str1('Python')
ch.str2('Java')
ch.str3('SQL')

In [44]:
ch.show_str1()

'Python'

In [45]:
ch.show_str2()

'Java'

In [46]:
ch.show_str3()

'SQL'

In [78]:
# advance

class base1: # parent class1
    def __init__(self,mileage):
        self.mileage=mileage
        
    def show_details(self):
        print('I am a base1')
        print('Mileage is ', self.mileage)
        
class base2: # parent class2
    def __init__(self,cost):
        self.cost=cost
        
    def show_details1(self):
        print('I am a base2')
        print('cost is ', self.cost)
        
class child3(base1,base2):
    def __init__(self,mileage,cost,tyres,HP):
        super().__init__(mileage)
        self.tyres= tyres
        self.HP=HP
    
    def show_cardetails(self):
        print('I am a car')
        print('No. of tyres is ', self.tyres)
        print('HP is ', self.HP)

In [79]:
child3 = child3(150,1500,4,150)

In [80]:
child

__main__.child

In [81]:
child3.show_cardetails() # invoke child class

I am a car
No. of tyres is  4
HP is  150

In [71]:
child3.show_details() # invoking parent class 1

I am a base1
Mileage is  150

# Exception handeling

In [82]:
print(5+ 'yash')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [83]:
print('5'+ 'yash')

5yash

in python 3 types of error we have:
    1) Syntax
    2) Exception
    3) User defined

In [84]:
a= 10
b= 2
c = a/b
print(c)

5.0

In [85]:
a= 10
b= 0
c= a/b
print(c)

ZeroDivisionError: division by zero

# solution

try: 
    the code which is written in try block can be occur error at runtime.
    
except:
    if error occurs except program will run

In [86]:
try:
    a=int(input('Enter a no. : '))
    b=int(input('Enter other no. '))
    c= a/b
    print('answer : ',c)
    
except:
    print('change the no.')

Enter a no. : 5
Enter other no. 2
answer :  2.5

In [88]:
try:
    a=int(input('Enter a no. : '))
    b=int(input('Enter other no. '))
    c= a/b
    print('answer : ',c)
    
except:
    print('please enter value in intger form')

Enter a no. : 5
Enter other no. one
please enter value in intger form

In [91]:
# show error

try:
    a=int(input('Enter a no. : '))
    b=int(input('Enter other no. '))
    c= a/b
    print('answer : ',c)
    
except Exception as e:
    print('Caught error:', e)

Enter a no. : 5
Enter other no. 0
Caught error: division by zero

In [92]:
try:
    a=int(input('Enter a no. : '))
    b=int(input('Enter other no. '))
    c= a/b
    print('answer : ',c)
    
except Exception as e:
    print('Caught error:', e)

Enter a no. : onr
Caught error: invalid literal for int() with base 10: 'onr'