# IF - Else loop

Indentation

In [1]:
# if syntax
a=33
b=200
if b>a:
    print('b is greatest')

b is greatest

In [2]:
# if else syntax

if a>b:
    print('a is greatest')
else:
    print('b is greatest')

b is greatest

In [3]:
a=5
b=5

In [4]:
# elif syntax

if a>b:
    print('a is greatest')
elif a==b:
    print('both no. are equal')
else:
    print('b is greatest')

both no. are equal

# short hand if

In [9]:
a=5
b=200

In [10]:
if a<b: print('b is greatest')

b is greatest

In [13]:
a1=300
b2=300
print('A') if a>b else print('=') if a1==b2 else print('B')

=

### AND

In [15]:
A=500
B=33
C=300
if A>B and A>C:
    print('a is the greatest no.')

a is the greatest no.

### or

In [16]:
A=300
B=33
C=500

In [17]:

if A>B or A>C:
    print('a is not highest or lowest')

a is not highest or lowest

### NOT

In [18]:
x=33
y=200
if not x>y:
    print('y is greater than x')

y is greater than x

In [19]:
# Nested if else

x=41
if x>10:
    print('x is greater than 10')
    if x>50:
        print('x is greater than 50')

x is greater than 10

In [20]:
x=41
if x>10: #true (continue)
    print('x is greater than 10')
    if x>50: # false (skip)
        print('x is greater than 50')
    else: # true continue
        print('x is lower than 50')

x is greater than 10
x is lower than 50

In [21]:
x=41
if x>100: #true (continue)
    print('x is greater than 100')
    if x>50: # false (skip)
        print('x is greater than 50')
    else: # true continue
        print('x is lower than 50')

In [22]:
x=41
if x>100: #false (continue)
    print('x is greater than 10')
    if x>50: 
        print('x is greater than 50')
    else: 
        print('x is lower than 50')
else:
    print('no. is less than 100')

no. is less than 100

# While loop

In [24]:
# print values which are less than 6  from 1
i=0
while i<6:
    print(i)
    i= i+1

0
1
2
3
4
5

# break statement

In [25]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i=i+1

1
2
3

continue statement

In [28]:
i=0
while i<6:
    i=i+1
    
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [29]:
i=0
while i<6:
    print(i)
    i=i+1
else:
    print(' i is no longer less than 6')

0
1
2
3
4
5
 i is no longer less than 6

# List

list are used to store multiplke items in a single variable

list are one of 4 built in data types in python.
list are created using square brackets: [ ]

In [31]:
# create our first list

Flist=['apple','banana','orange']

In [32]:
print(Flist)

['apple', 'banana', 'orange']

In [33]:
type(Flist)

list

In [34]:
# list are ordered
# it can be changeable
# it allows duplicate values

In [35]:
Flist1=['apple','banana','orange','banana','orange']

In [37]:
print(Flist1)

['apple', 'banana', 'orange', 'banana', 'orange']

In [38]:
len(Flist1)

5

In [39]:
len(Flist)

3

In [72]:
# list items - Data types
lis1=['banana','orange']
lis2=[1,2,3,4]
lis3=[True,False]

In [73]:
print(type(lis1))
print(type(lis2))
print(type(lis3))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
lis4=['abc',34,True,48,'Male']

In [41]:
# indexing
Flist1=['orange','apple','banana','banana','orange']

In [43]:
Flist1[1]

'apple'

In [44]:
Flist1[-3]

'banana'

In [45]:
Flist1[-2]

'banana'

In [46]:
# range

thelist=['apple','banana','cherry','orange','kiwi','mango']

In [47]:
thelist[2:5]

['cherry', 'orange', 'kiwi']

In [48]:
thelist[:5]

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [49]:
thelist[2:]

['cherry', 'orange', 'kiwi', 'mango']

In [50]:
thelist[-4:-1]

['cherry', 'orange', 'kiwi']

In [51]:
# check it item exist

In [64]:
thelist1=['apple','banana','cherry','orange','kiwi','mango']

In [53]:
if 'apple' in thelist1:
    print('yes, apple is in the list')

yes, apple is in the list

In [58]:
#change item value
thelist1[1]='watermelon'

In [59]:
print(thelist1)

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [60]:
# change a range of item values

thelist1[1:3]=['banana','blackcurrant']

In [61]:
print(thelist1)

['apple', 'banana', 'blackcurrant', 'orange', 'kiwi', 'mango']

In [66]:
thelist1[1:2]=['watermelon','blackcurrant']

In [67]:
thelist1

['apple', 'watermelon', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'mango']

In [68]:
# insert item

thelist1.insert(1,'banana')

In [69]:
print(thelist1)

['apple', 'banana', 'watermelon', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'mango']

In [70]:
# append 

thelist1.append('orange')

In [71]:
print(thelist1)

['apple', 'banana', 'watermelon', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'mango', 'orange']

In [80]:
# extend list
thelist2=['apple','banana','cherry']
thelist3=['mango','pineapple','papaya']

In [75]:
thelist2.extend(thelist3)

In [76]:
print(thelist2)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [78]:
thelist3.extend(thelist2)

In [79]:
print(thelist3)

['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']

In [81]:
a=(1,2,3)

In [84]:
type(a)

tuple

In [82]:
thelist2.extend(a)

In [83]:
print(thelist2)

['apple', 'banana', 'cherry', 1, 2, 3]

In [85]:
# remove specific item
thelist2.pop()

3

In [86]:
print(thelist2)

['apple', 'banana', 'cherry', 1, 2]

In [87]:
thelist2.pop(2)

'cherry'

In [88]:
print(thelist2)

['apple', 'banana', 1, 2]

In [89]:
thelist2.remove('banana')

In [90]:
print(thelist2)

['apple', 1, 2]

In [96]:
thelist7=['apple','banana','cherry','apple','orange','kiwi','mango','apple']

In [94]:
thelist7.remove('apple')

In [95]:
thelist7

['banana', 'cherry', 'orange', 'kiwi', 'mango', 'apple']

In [99]:
x=[set('apple')]

In [100]:
print(thelist7,x)

['apple', 'banana', 'cherry', 'apple', 'orange', 'kiwi', 'mango', 'apple'] [{'a', 'l', 'p', 'e'}]

In [101]:
list1=[set(thelist7)]

In [103]:
print(list1)

[{'cherry', 'apple', 'orange', 'mango', 'kiwi', 'banana'}]

In [104]:
type(list1)

list

In [1]:
mylist=['a','b','a','c','c']
mylist=list(dict.formkey(mylist))
print(mylist)

AttributeError: type object 'dict' has no attribute 'formkey'

In [2]:
thelist7=['apple','banana','cherry','apple','orange','kiwi','mango','apple']

In [6]:
res_list=[]
for i in thelist7:
    if i not in res_list:
        res_list.append(i)
print(res_list)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [7]:
res_list=[]
for i in thelist7:
    if i not in res_list:
        res_list.append(i)
        print(i)

apple
banana
cherry
orange
kiwi
mango

In [8]:
res_list=[]
for i in thelist7:
    if i not in res_list:
        res_list.append(i)
        print(res_list)

['apple']
['apple', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [11]:
thelist7=['apple','banana','cherry','apple','orange','kiwi','mango','apple']

In [9]:
del thelist7

In [10]:
print(thelist7)

NameError: name 'thelist7' is not defined

In [12]:
# clear

thelist7.clear()

In [13]:
print(thelist7)

[]

In [14]:
# list with while loop

thelist8=['apple','banana','cherry','apple','orange','kiwi','mango','apple']

In [15]:
i=0
while i<len(thelist8):
    print(thelist8[i])
    i +=1

apple
banana
cherry
apple
orange
kiwi
mango
apple

In [ ]:
'''
i=0
while i<len(thelist8):
    print(thelist8[i])
    i +=1
    if i == 'apple':
        continue
        print('/n')
'''

# for loop in list

In [2]:


thelist8=['apple','banana','cherry','apple','orange','kiwi','mango','apple']

In [28]:
for x in thelist8:
    print(x)

apple
banana
cherry
apple
orange
kiwi
mango
apple

In [30]:
for x in thelist8:
    if x == 'apple':
        cont=input('press 1 to continue')
        print(cont)
    print(x)

press 1 to continue1
1
apple
banana
cherry
press 1 to continue2
2
apple
orange
kiwi
mango
press 1 to continue

apple

In [6]:
i=0
while i<len(thelist8):
    print(thelist8[i])
    i=i+1
    if thelist8[i]=='apple':
        print('it is aaple')

apple
banana
cherry
it is aaple
apple
orange
kiwi
mango
it is aaple
apple

IndexError: list index out of range

In [7]:
# list comprehension

fruits=['banana','apple','kiwi','mango']
newlist=[]
for x in fruits:
    if 'a' in x:
        newlist.append(x)
print(newlist)

['banana', 'apple', 'mango']

In [8]:
newlist2=[x for x in fruits if 'n' in x]
print(newlist2)

['banana', 'mango']

In [9]:
fruits.sort()

In [10]:
fruits

['apple', 'banana', 'kiwi', 'mango']

In [11]:
int1=[25,52,11,16]
int1.sort()
print(int1)

[11, 16, 25, 52]

In [13]:
int1=[25,52,11,16]
int1.sort(reverse=True)
print(int1)

[52, 25, 16, 11]

In [15]:
int1=['a','aa','sss','a2']
int1.sort(key=len)
print(int1)

['a', 'aa', 'a2', 'sss']

In [16]:
mixlis=[25,52,'a','aa','sss','a2',11,16]

In [17]:
mixlis.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
int1=['Ba','axa','Csss','a2']
# case sensitive

In [19]:
int1.sort()
print(int1)

['a2', 'axa', 'ba', 'csss']

In [29]:
int1.sort(key=str.upper)

In [30]:
print(int1)

['a2', 'axa', 'Ba', 'Csss']

In [31]:
# reverse

int1.reverse()

In [32]:
print(int1)

['Csss', 'Ba', 'axa', 'a2']

In [33]:
int5=['Ba','axa','Csss','a2']

In [35]:
# copy a list

myint5=int5.copy()
print(myint5)

['Ba', 'axa', 'Csss', 'a2']

In [36]:
# join two list

list1=['a','b','z']
list2=[1,5,9]

In [37]:
list3=list1+list2

In [38]:
print(list3)

['a', 'b', 'z', 1, 5, 9]

In [39]:
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'z', 1, 5, 9]

In [ ]:
# Q1)a shope will give discount of 10% it the cost of 
# purchased quantity is more than 1000.
# each item is of 100.
# ask user for quantity.

# print the final amount.

In [ ]:
# Q2) A school has following rules for grading system:
#  a. Below 25 - F 
# b. 25 to 45 - E 
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade.