# Python Functions

A function is a block of code which only runs when it is called.

We can pass data, known as parameters into a function.
function can return data as a result.

In python a function is defined using the def keyword.
syntax :- def function_name:

In [2]:
# creating 1st function

def fun1():
    print ('hello world!')

In [3]:
# calling a function

fun1()

hello world!

In [7]:
# Arguments

def my_function(fname):
    print(fname+ ' Hey there !')

In [5]:
my_function()

TypeError: my_function() missing 1 required positional argument: 'fname'

In [8]:
my_function('sonu')

sonu Hey there !

In [9]:
my_function('ranu')

ranu Hey there !

In [10]:
my_function(22)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
# Numbers of argument

def my_function(fname,lname):
    print(fname+' ' +lname+' Hey there !')

In [12]:
my_function('ranu','sharma')

ranu sharma Hey there !

In [13]:
my_function('ranu')

TypeError: my_function() missing 1 required positional argument: 'lname'

# Arbitary arguments , *args

if yoy do not know how many arguments that will be passed into your function, add a * before the parameter name in the function.

In [14]:
def my_function(*kids):
    print('the youngest child is '+ kids[2])

In [15]:
my_function('yash','sonu','monu','raju')

the youngest child is monu

In [50]:
# keyword argument

def my_function(child1,child2,child3):
    print('The youngest child is : ' + child3)

In [51]:
my_function(child3='Shanu',child1='Yash',child2='Sonu') # assign according to condition

The youngest child is : Shanu

In [52]:
my_function('Shanu','Yash','Sonu') # assign automatically

The youngest child is : Sonu

# Arbitary keyword Arguments, **Kwargs

If we do not know how many keywords argument that will be passed into our function , add ** before the parameter name in the function.

In [42]:
def my_function(**name):
    print('the youngest child is '+ name['lname'])

In [43]:
my_function(fname='geeta',lname='sharma')

the youngest child is sharma

In [44]:
def my_function(**name):
    print('the youngest child is '+ name['lname']+ ' lives in '+ name['address'])

In [45]:
my_function(fname='geeta',lname='sharma',age=27,address='D-58')

the youngest child is sharma lives in D-58

In [26]:
def my_function(fname,lname):
    print('the youngest child is '+ lname)

In [27]:
my_function('sonu','gupta')

the youngest child is gupta

# Default parameter value

In [46]:
def my_function(country='Norway'):
    print('I am from '+ country)

In [47]:
my_function('India')

I am from India

In [48]:
my_function()

I am from Norway

In [49]:
my_function('Sweden')

I am from Sweden

# Pass a list as an argument

In [68]:
def my_function(fruit):
    for i in fruit:
        print(i)

In [54]:
fruit=['apple','banana','cherry','mango']

In [55]:
my_function(fruit)

apple
banana
cherry
mango

In [86]:
def my_function1(x):
    for i in fruit5:
        print(i)

In [87]:
fruit5=['apple','banana','cherry','mango']

In [88]:
my_function1(fruit5)

apple
banana
cherry
mango

In [66]:
def my_function(number):
    for i in fruit4:
        print(i)

In [63]:
fruit3=['apple','banana','cherry','mango','apple2']
my_function(fruit3)

apple
banana
cherry
mango
apple2

In [67]:
fruit4=[1,2,3,4,5,6]
my_function(fruit4)

1
2
3
4
5
6

In [89]:
def my_function11(fruit6):
    for i in fruit6:
        print(i)

In [92]:
xx=['apple','banana','cherry','mango','apple2','yy']

In [93]:
my_function(xx)

apple
banana
cherry
mango
apple2
yy

# return values

In [94]:
def multi(x):
    return 5*x

In [95]:
print(multi(5))

25

In [96]:
print(multi(7))

35

# recursion

# tri_recursion( ) is a function that we have defined to call itself.

We use k variable as the data , which decrements(-1) every time we recurse.
the recursion ends when the condition is not greater that 0.

In [99]:
def tri_recursion(k):
    if (k>0):
        result= k+tri_recursion(k-1)
        print(result)
    else:
        result=0
        
    return result

In [100]:
tri_recursion(6)

1
3
6
10
15
21

21

In [101]:
tri_recursion(2)

1
3

3

In [102]:
tri_recursion(3)

1
3
6

6

In [104]:
tri_recursion(5)

1
3
6
10
15

15

In [105]:
def recur(i):
    if (i>0):
        result= i+recur(i-1)
        print(result)
    else:
        result=0
        
    return result

In [106]:
recur(5)

1
3
6
10
15

15

# anonymus function

A lambda function is a small anonymus function.

A lambda function can take any number of arguments, but can only have one expression.

# Syntax

lambda arguments : expression

In [107]:
# add 10 to a argument a, and return the result.

x= lambda a : a+10

In [108]:
print(x(5))

15

In [109]:
print(x(10))

20

In [119]:
# Multiply argument a,b  

y= lambda a,b : a*b
print(y(12,8))
y(5,15)

96

75

In [115]:
y(25,6)

150

In [120]:
z= lambda p,q,r : p*q*r

In [121]:
z(2,5,6)

60

In [122]:
z2 = lambda a,b : if a>b: print(a*b) else : print(a+b)

SyntaxError: invalid syntax (4179714985.py, line 1)

In [123]:
def myfunction(n):
    return lambda a : a*n

In [124]:
myres= myfunction(2)

In [125]:
myres(11)

22

In [126]:
myres(59)

118

In [127]:
myres= myfunction(3)

In [128]:
myres(11)

33

# Random module

python provide multiple inbuilt function that are used to choose or generate random no. by using random module.

In [129]:
# Choice( ) - Pick random no.
# Randint( ) - use random no. from particular list
# shuffle( )- which shuffle a value of list

In [130]:
# Import

# import random
# from random import function_name

In [131]:
# using  choice

l1= [1,2,3,4,8,6,158,4654,340]

In [133]:
from random import choice

In [138]:
choice(l1)

1

In [151]:
# Randint( )
from random import randint
otp= randint(1,1000)
print('your otp is : ', otp)

your otp is :  678

In [152]:
import random

In [ ]:
random.

In [156]:
# shuffle

l2=['apple','banana','cherry']

In [163]:
random.shuffle(l2)
print(l2)

['cherry', 'apple', 'banana']

In [164]:
#tuples

a = ()

In [165]:
print(a)

()

In [166]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [167]:
# list
x=[]

In [168]:
type(x)

list

In [169]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Math module

# functions

factorial( ) - used to find the factorial
ceil( )- Raound up the integer.
floor( )- Round down the integer
Sqrt( )- return square root of the value

# import

1) import math

2) from math import function_name

math.tab to see all functions

In [170]:
import math

In [171]:
# factorial
math.factorial(6)

720

In [172]:
math.factorial(3)

6

In [173]:
# ceil( )
math.ceil(7.4)

8

In [174]:
math.ceil(.5)

1

In [175]:
print(round(33.33))

33

In [176]:
print(round(33.6))

34

In [177]:
print(round(33.5))

34

In [178]:
print(round(33.7899653,2))

33.79

In [179]:
#floor

math.floor(-1.5)

-2

In [180]:
math.floor(3.9)

3

In [181]:
# sqrt( )

math.sqrt(10)

3.1622776601683795

In [182]:
math.sqrt(81)

9.0

In [183]:
print(int(math.sqrt(81)))

9

In [184]:
x= min(5,88,2,64)

In [185]:
print(x)

2

In [186]:
y= max(5,88,2,64)
print(y)

88

In [187]:
# abs( )

x2=abs(-7.53)
print(x2)

7.53

In [188]:
# pow

x3=pow(4,3)
print(x3)

64

In [189]:
# math constants
x4=math.pi
print(x4)

3.141592653589793

math.e (euler's no.)
math.inf
math.nan
math.pi
math.tau

# function questions



Q1) Create a function that can accept 2 arguments name and subject and print value.

Q2) Write a function sum() suc that it can accept 2 no. arguments and print the sum of 2 arguments.

Q3) Write a function calculation() suchh that it accept 2 variable and calculate the addition , subtraction and division.

Q4) Write a recursive function to calculate the sum of number from 0 to 10.

Q5) Create a function without any name that can accept 2 argument and then print the sum of its value.

Q6) WAP to generate a random number between 1000 to 5000 using python inbuilt module.

Q7) WAP to generate a random captcha list,using python inbuilt module.

Q8) WAP to shuffle captcha list , using python inbuilt module.

# Questions from list,tup,set,dict

Q1) WAP to acept a list from the user and print the alternate element of list.

Q2) WAP to remove the element '3' from the given list [1,2,3,4,5,6].

Q3) WAP to insert the element 'Python' on index 2 in the given list ['Java','Php','.Net','Angular'].

Q4) WAP to add element in the list using for loop.

Q5) WAP to perform slicing with given tuple ('Python',1,2,3,'Java','A','B') with following slicing point: a) print alternate value of tuple. b) Print the last value of tuple. c) print the value between index 1 to 5.

Q6) WAP to count element in given tuple (1,2,3,4,5,6,7,8,9).

Q7) WAP to convert tuple into list.

Q8) WAP to convert 2 given list into dictionary. list1[1,2,3,4,5] list2['A','B','C','D','E'].

Q9) WAP to print the keys from the given Dictionary {1:'Apple',2:'Banana',3:'Mango'} and print keys into list.

Q10)WAP to print the Values from the given Dictionary {1:'Apple',2:'Banana',3:'Mango'} and print Values into list.