In [1]:
# file read

file1=open('demo1.txt','r')
filecontent= file1.read()
print(filecontent)

This is my file handeling program

In [2]:
list1= ['1','2','python','java']

In [3]:
type(list1)

list

In [4]:
file=open('demo3.txt','w')
file.writelines(list1)
print('file created')
file.close()

file created

In [5]:
file=open('demo3.txt','r')
filelist=file.readlines()
print(filelist)

['12pythonjava']

In [6]:
list3=['1','2','5','8','9','4']
file2=open('demo3.txt','a')
file2.writelines(list3)
print('file created')
file.close()

file created

In [7]:
file3=open('demo3.txt','r')
filestr=file3.readlines()
print(filestr)

['12pythonjava']

# Regular expression

RegX = regular exp

it is a sequence of characters that defines a search pattern.

types:
    1) Match
    
    2) search
    
    3) replace

# importing

import module_name

from module_name import function_name

In [8]:
import re # re= regular exp.

mystring='abcdef'

# x= re.match('pattern',string_name)

x= re.match('z',mystring)
print(x)

None

In [9]:
import re # re= regular exp.

mystring='abcdef'

# x= re.match('pattern',string_name)

x= re.match('a',mystring)
print(x)

<re.Match object; span=(0, 1), match='a'>

In [10]:
import re # re= regular exp.

mystring='abcdef'

# x= re.match('pattern',string_name)

x= re.match('ab',mystring)
print(x)

<re.Match object; span=(0, 2), match='ab'>

In [11]:
txt = 'we are learning python'

x= re.search('ing',txt)
print(x)

<re.Match object; span=(12, 15), match='ing'>

In [12]:
# for replacing we use sub

txt = 'We Are Learning Python'

x= re.sub('e','o',txt)
print(x)

Wo Aro Loarning Python

In [13]:
txt = 'We Are Learning Python'

x= re.sub(r"[a-z]",'a',txt)
print(x)

Wa Aaa Laaaaaaa Paaaaa

In [14]:
txt = 'We Are Learning Python'

x= re.split("e",txt)
print(x)

['W', ' Ar', ' L', 'arning Python']

In [15]:
# importing API mpdule

import pymysql

# host,database,user,password,port

def createconn():
    return pymysql.connect(host='localhost',database='MyDemo1',user='root',password='2580',port=3306)

In [16]:
# issuing SQl statements

# creating cursor

# cursor=conn.cursor() - to execute query
# query="detailed query" - for writing querry
# cursor.execute(query) - perform operation

# closing the connection

# conn.commit() - save it in Data base
# conn.close()= close the connection

In [17]:
# create tabble

def createtable():
    conn=createconn()
    cursor = conn.cursor()
    query="create table employee(eid int,name varchar(50),email varchar(50),mobile int)"
    cursor.execute(query)
    conn.commit()
    print('table created')
    conn.close()

In [18]:
createtable()

OperationalError: (1050, "Table 'employee' already exists")

In [19]:
# inserting data into table

def insertdata(eid,name,email,mobile):
    conn=createconn()
    cursor = conn.cursor()
    arg=(eid,name,email,mobile)
    query='insert into employee(eid,name,email,mobile) values(%s,%s,%s,%s) '
    cursor.execute(query,arg)
    conn.commit()
    print('data created')
    conn.close()

In [20]:
e= input('Enter your ID: ')
n= input('Enter your name: ')
em=input('Enter your email id: ')
m=input('Enter your mobile no. : ')

insertdata(e,n,em,m)

Enter your ID: 3
Enter your name: sonu
Enter your email id: ss@gmail
Enter your mobile no. : 4554
data created

In [21]:
# fetch all data 

def showalldata():
    conn=createconn()
    cursor = conn.cursor()
    
    query='select * from employee '
    cursor.execute(query)
    result=cursor.fetchall()
    for i in result:
        print(i)
    print('all data fetched')

In [22]:
showalldata()

(1, 'yash', 's@gmail', 1234)
(2, 'harsh', 'h@gmail.com', 1126)
(3, 'sonu', 'ss@gmail', 4554)
all data fetched

In [ ]:
# fetch data by employee id

eid= int(input("Enter your ID : "))

showalldata()

In [24]:
def showalldatabyID(eid):
    conn=createconn()
    cursor = conn.cursor()
    arg=(eid)
    query='select * from employee where eid=%s'
    cursor.execute(query,arg)
    result=cursor.fetchall()
    for i in result:
        print(i)
    print('data by id fetched')

In [26]:
# fetch data by employee id

eid= int(input("Enter your ID : "))

showalldatabyID(eid)

Enter your ID : 3
(3, 'sonu', 'ss@gmail', 4554)
data by id fetched

In [35]:
# updating data

def updatingdata(name,email,mobile,eid):
    conn=createconn()
    cursor = conn.cursor()
    arg=(name,email,mobile,eid)
    query='update employee set name=%s,email=%s,mobile=%s where eid=%s'
    cursor.execute(query,arg)
    conn.commit()
    print('data updated')
    conn.close()

In [36]:
e= input('Enter your ID: ')
n= input('Enter your name: ')
em=input('Enter your email id: ')
m=input('Enter your mobile no. : ')

updatingdata(n,em,m,e)

Enter your ID: 1
Enter your name: y
Enter your email id: s
Enter your mobile no. : 123
data updated

In [32]:
def updatingdata1(eid,name,email,mobile):
    conn=createconn()
    cursor = conn.cursor()
    arg=(eid,name,email,mobile)
    query='update employee set name=%s,email=%s,mobile=%s where eid=%s'
    cursor.execute(query,arg)
    conn.commit()
    print('data updated')
    conn.close()

In [34]:
e= input('Enter your ID: ')
n= input('Enter your name: ')
em=input('Enter your email id: ')
m=input('Enter your mobile no. : ')

updatingdata1(e,n,em,m)

Enter your ID: 1
Enter your name: y
Enter your email id: s
Enter your mobile no. : 12
data updated

In [43]:
def updatingdata3(eid,name,email,mobile):
    conn=createconn()
    cursor = conn.cursor()
    arg=(eid,name,email,mobile)
    query='update employee set eid=%s,name=%s,email=%s where mobile=%s'
    cursor.execute(query,arg)
    conn.commit()
    print('data updated')
    conn.close()

In [44]:
e= input('Enter your ID: ')
n= input('Enter your name: ')
em=input('Enter your email id: ')
m=int(input('Enter your mobile no. : '))

updatingdata3(e,n,em,m)

Enter your ID: 1
Enter your name: asd
Enter your email id: asd
Enter your mobile no. : 123
data updated

In [48]:
# delete data from data base

def deletedata(eid):
    conn=createconn()
    cursor = conn.cursor()
    arg=(eid)
    query='delete from employee where eid=%s'
    cursor.execute(query,arg)
    conn.commit()
    print('data deleted')
    conn.close()

In [49]:
showalldata()

(1, 'asd', 'asd', 123)
(2, 'harsh', 'h@gmail.com', 1126)
(3, 'mukesh', 'muk@gmail', 55665566)
all data fetched

In [50]:
eid=int(input('Enter ID to delete data: '))

deletedata(eid)

Enter ID to delete data: 1
data deleted

In [51]:
showalldata()

(2, 'harsh', 'h@gmail.com', 1126)
(3, 'mukesh', 'muk@gmail', 55665566)
all data fetched